html {
  background: linear-gradient(to right, #ddd6f3, #faaca8);
}

a {
  color:inherit;
  text-decoration: none;
}

.search-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box > *{
  margin:10px
}